<div class="container">


    <div class="card" id="login">
        <div class="card-header bg-primary">
            <h2 class="text-light bg-dar">Login</h2>
        </div>

        <div class="container ">
            <div *ngIf="alert" class="alert alert-success" role="alert">
                Logado com Sucesso
                <button routerLink='menu' type="button" class="btn btn-primary"> ir</button>
            </div>
        </div>


        <div class="card-body">
            <form [formGroup]="form" novalidate>
                <div class="mb-3">
                    <label class="form-label">Email </label>
                    <input type="email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input type="password" formControlName="senha">
                </div>

                <div>
                    <button (click)=" closeAlert()" class="btn btn-primary btn-sm" [disabled]="form.invalid && !form.invalid" (click)="logar()">entrar</button>
                </div>

            </form>



        </div>


    </div>