<div class="container">
    <div class="card" id="login">


        <div class="card-header bg-primary">
            <h2 class="text-light bg-dar">Login</h2>
        </div>

        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="fa fa-envelope-o form-label "> Email</label>
                    <input type="email" type="text" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="fa fa-key form-label"> Senha</label>
                    <input type=" password" type="pass" class="form-control" />
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary fa fa-sign-in"> Entrar</button>
                </div>
            </form>

        </div>

    </div>
</div>